body {
  background-image: url("../images/backgra.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}


#modalButton {
    margin-left: 10px;
}


/* Фильтр — одинаковый по высоте и “липкий” */
.filter-card {
    height: 100%;               /* растягиваем */
    position: sticky;

    border-radius: 8px;
}

@media (max-width: 768px) {
    .content-offset {
        margin-top: 12px; /* на мобильных шапка выше */
    }
}
